---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Julio 2024",
    title: "Desarrollador de Aplicaciones Web",
    company: "La Parrilla de Cesar",
    description:
      "Me encargue de desarrollar una aplicación web para el control y gestion de los servicios de auto-lavado que el local de comida tambien ofrece.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
